<div class="uk-section uk-padding-remove">
    <div class="uk-container uk-container-expand">
        <img data-src="https://placehold.it/1605x410?text=%20" width="1605" height="410" uk-img class="uk-width-1-1">
    </div>
</div>